/* styles.css */

/* Style for primary button (edit) */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  margin-right: 8px; /* Adjust the spacing as needed */
  /* You can add more styles if needed */
}

/* Hover effect for primary button */
.btn-primary:hover {
  background-color: #0056b3;
}

/* Style for danger button (delete) */
.btn-danger {
  background-color: #dc3545;
  color: #fff;
  margin-right: 8px; /* Adjust the spacing as needed */
  /* You can add more styles if needed */
}

/* Hover effect for danger button */
.btn-danger:hover {
  background-color: #c82333;
}
/* styles.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.App {
  text-align: center;
}
